.container{
    background: linear-gradient(180deg,rgba(213,219,238,0.63) 0%,#C8D9EA 69.27%,rgba(208,216,234,0.58)) 100%;
    box-shadow: 8px 13px 19px -3px rgba(0,0,0,0.33);
    border: 39px;
    width: 70%;
    padding: 24px 63px;
}