.checkbox,
.active {
  width: 36px;
  height: 35px;
  border: 1px solid #5997D4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.active {
  background: linear-gradient(
    180deg,
    rgba(12, 69, 255, 0.755) 0%,
    rgba(89, 151, 213, 0.3564) 100%
  );
}

.checkbox input {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 99999;
}

.active  input{
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 99999;
}